.THIS .customBox{
    border: 1px solid grey;
    height:2rem;
}
.THIS .disabledBox {	
	background-color: lightgrey;
}
.THIS .highlightCell{
    background-color: yellow;
}
.THIS .sourceCell{
    background-color: green;
}
.THIS .destinationCell{
    background-color: red;
}